@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Roboto+Condensed:400,700|Roboto+Mono:400,500,700');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

$bg-color: white;
$bg-color-dark: #282828;
$primary-font: 'Roboto Condensed', sans-serif;
$secordary-font: 'Roboto Mono', monospace;
$footer-font: 'Lato';

body {
    width: 100%;
    background-color: $bg-color;
}

.container {
    width: 100%;
    display: grid;
    justify-content: center;
    align-content: center;
}

// buttons
$switch-transition: .4s;

.body-bg-dark {
    background-color: $bg-color-dark;
    color: white;
    transition: all $switch-transition ease;
}

$header-font-color: transparent;

header {
    width: 960px;
    z-index: 3;
    padding: 20px 0;
    background-color: $header-font-color;
    top: 0;
    margin: auto;
    position: -webkit-sticky;
    position: sticky;
}

.header-wrapper {
    display: grid;
    grid-template-columns: 25% auto 70px;
    grid-auto-rows: minmax(40px, auto);
    grid-gap: 1%;
}

#active-wrapper-1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
}

#active-wrapper-2 {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: 1;
}

#active-wrapper-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row: 1;
}

$button-bg-color-1: MediumPurple;
$button-bg-color-2: Plum;
$button-bg-color-3: Thistle;
$button-font-color: white;
$button-radius: 20px;

button {
    color: $button-font-color;
    border: none;
    cursor: pointer;
}

#active-wrapper-1 > button {
    background-color: $button-bg-color-1;
   
}

#active-wrapper-2 > button {
    background-color: $button-bg-color-2;
}

#name-btn, #normal-btn {
    border-radius: $button-radius 0 0 $button-radius;
}

#rgb-btn, #achromatopsia-btn {
    border-radius: 0 $button-radius $button-radius 0;
}
// switch
#changeBg {
    border-radius: $button-radius;
}

$switch-dark: DimGray;
$switch-light: WhiteSmoke;

.switch {
	background-color: $switch-dark;
	position: relative;
	width: inherit;
	height: inherit;
	border-radius: 100%;
	transition: $switch-transition ease;
	cursor: pointer;
}

.dark {
	background-color: $switch-light;
    transition: .4s ease;
    color: white;
}
// for the light switch
.button {
	width: 35px;
	height: 35px;
	background-color: lighten($switch-dark, 50%);
	border-radius: 50%;
	position: absolute;
	left: 3px;
	top: 50%;
	transform: translate(0,-50%);
	transition: all .4s ease;
}

.dark .button{
	transform: translate(80%,-50%);
	background-color: darken($switch-light, 30%);
	transition: all $switch-transition ease;
}


.active-1 {
    background-color: darken($button-bg-color-1, 20%) !important;
    transition: all $switch-transition ease;
}

.active-2 {
    background-color: darken($button-bg-color-2, 20%) !important;
    transition: all $switch-transition ease;
}
// description
#section1 {
    width: 960px;
    border-bottom: 1px solid Gainsboro;
    margin: 0 auto;
}

.pageTitle {
    font: bold 2em $secordary-font;
    margin: 20px 0 10px;
    letter-spacing: 2px;
}

.content {
    font:  1em/1.4em $primary-font;
    padding-bottom: 30px;
}

mark {
    color: Magenta;
    background-color: transparent;
}

// Colors
#section2 {
    width: 960px;
}

.wrapper {
    clear: left;

}

.title {
    font: 700 1.4em $secordary-font;
    padding: 4% 0 0%;
}

$box-font-color: white;
$box-font-lightcolor: silver;

.box {
    font: bold 0.7em $primary-font;
    width: 80px;
    height: 0px;
    margin: 12px 16px 12px 0px;
    padding: 20px 56px 60px 8px;
    float: left;
    border-radius: 5px;
    color: $box-font-color;
    text-transform: capitalize;
    letter-spacing: 1px;
    box-shadow: 5px 5px 0px #e0e0e0;
    cursor: crosshair;

    animation: changeShape 2s 0s;
}

/*@keyframes changeShape {
    0% {
        border-radius: 40px;
    }
}*/

.box:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
}

// font colors for lighter colors
.lighterColors {
    color: $box-font-lightcolor;
}

footer {
    width: 100%;
    margin-top: 60px;
    padding: 50px 0;
    font: 0.7em $footer-font;
    background-color: mediumorchid;
    color: white;
    letter-spacing: 1px;
}

footer > p {
    width: 960px;
    margin: auto;
}

#svg-filter {
    display: none;
}

@media only screen and (max-width: 960px) {
    header, #section1, #section2, footer > p {
        width: 90%;
    }
    #active-wrapper-2 {
        grid-row: 2;
    }
    .header-wrapper {
        grid-template-columns: auto 70px;
    }
    #active-wrapper-1 {
        grid-template-columns: repeat(6, 1fr);
        margin-bottom: 3px;
    }
    #active-wrapper-2 {
        grid-column: 1 / 3;
        margin-top: 3px;
    }
    #active-wrapper-3 {
        margin-bottom: 1%;
    }
    .button {
        width: 32px;
        height: 32px;
    }
    .dark .button {
        transform: translate(97%, -50%);
    }
    #section2 {
        margin: auto;
    }
}

@media only screen and (max-width: 768px) {
    .header-wrapper {
        grid-gap: 5%;
    }
}

@media only screen and (max-width: 414px) {
    #active-wrapper-2 {
        display: none;
    }
    .pageTitle {
        font: bold 1.5em "Roboto Mono", monospace;
    }
    #active-wrapper-1 {
        grid-template-columns: repeat(4, 1fr);
    }
}

